@charset "utf-8";
.clear {
}
.topspace {
	margin-top: 7px;
	margin-bottom: 0px;
}
.notopmargin {
	margin: 0;
}
.text_align_center {
	text-align: center;
}
label {
	font-size: x-small;
	font-weight: bold;
}
a {
	color: #80A981;
	font-size: 90%;
}