@charset "utf-8";
body {
	background-color: #E3E5E3;
	font-family: Verdana, Arial, Tahoma, Sans-serif;
	font-size: 85%;
}

#carpool_frame {
	width:771px;
	z-index:1;
	margin-right: auto;
	margin-left: auto;
	-webkit-border-radius:10px;
	-moz-border-radius: 10px;
	background-color: #FFF;
	border: 1px solid #FFF;
	position: relative;
}

#header {
	position:absolute;
	left:0px;
	top:0px;
	width:771px;
	height:200px;
	z-index:1;
	background-image: url(../images/header_background.gif);
	background-repeat: no-repeat;
	background-position: 14px 14px;
}

#page {
	position:absolute;
	left:0px;
	top:200px;
	width:772px;
	height:649px;
	z-index:2;
	bottom: 100%;
}

#sidepanel {
	position:absolute;
	left:0px;
	top:0px;
	width:183px;
	height:641px;
	z-index:2;
}

#footer {
	position:absolute;
	width:762px;
	height:48px;
	z-index:3;
	bottom: 0%;
}

#content {
	padding-left: 11px;
	width: 560px;
	left: 183px;
	position: relative;
	top:-7px;
	z-index:1;
}
