@charset "utf-8";

#group {
	position:absolute;
	left:0px;
	top:0px;
	width:168px;
	height:629px;
	z-index:1;
	margin-top: 8px;
	margin-left: 14px;
}
div#sidepanel h3 {
	background-image: url(../images/sidepane.jpg);
	font-size: 110%;
	background-repeat: no-repeat;
	font-family: "Franklin Gothic Medium Cond", Arial, sans-serif;
	padding-top: 7px;
	padding-bottom: 6px;
}
#menu {
	width: 100%;
	clear: both;
	float: left;
}
.button_corpbutton {
	background-image: url(../images/corporate.gif);
	height: 54px;
	width: 100%;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	display: block;
}
.greenbox {
	background-image: url(../images/greenbox.gif);
	width: 100%;
	background-repeat: no-repeat;
}
div.greenbox img {
	background-color: #B8D4BA;
	background-image: url(../images/greenboy.gif);
	background-repeat: no-repeat;
	background-position: 0% 100%;
	margin-top: 10%;
	padding-right: 12.5%;
	padding-left: 12.5%;
	padding-bottom: 10%;
}
.button_emailbutton {
	background-image: url(../images/button-email.gif);
	height: 95px;
	width: 100%;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	display: block;
}
