@charset "utf-8";

div#content {
	height:300px;
}

div#content p {
	font-size: 75%;
}

.buttons {
	width: 90%;
	text-align: center;
	vertical-align: middle;
	background-color: #FFF;
	padding-top: 2%;
	padding-bottom: 2%;
	margin-right: 25px;
	margin-left: 22px;
}

form {
	background-color: #F9F7F4;
	border: 1px solid #A5ACB2;
	margin-top: 8px;
	margin-bottom: 0px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 10px;
	margin-right: 1px;
}
fieldset {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding-left: 5%;
	padding-top: 2%;
}
fieldset div {
	clear: none;
	float: left;
	margin-top: 0px;
	margin-right: 5%;
	margin-bottom: 3px;
	width: 45%;
	padding-right: 0%;
}
fieldset input.button {
	background-color: #8FB690;
	border: 1px solid #6C8A6D;
	color: #FFFFFF;
	cursor: pointer;
	padding: 1px 2px;
	font-family: Arial, Helvetica, sans-serif;
	float:none;
	text-align:center;
	font-size:x-small;
}
table tr td  {
	text-align:left;
}
table tr td select  {
	width:80%;
}
